.recipeCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--foreground-rgb);
  border-radius: var(--border-radius);
  margin-top: 1rem;
}