.recipesLayout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

.recipesLayoutLinks {
  font-size: 1.3rem;
  -webkit-box-shadow: 2px 2px 3px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 2px 2px 3px rgba(57, 63, 72, 0.3);
  box-shadow: 2px 2px 3px rgba(57, 63, 72, 0.3);
}

.recipesLayoutBody {
  padding: 1.5rem;
}

.recipesLayoutLink a {
  display: block;
  padding: 1.5rem;
  border-bottom: 1px solid #CCC;
}

.recipesLayoutLinkActive a,
.recipesLayoutLink a:hover {
  background-color: rgba(46, 125, 50, 0.2);
}